input[type=text],
input[type=email],
input[type=password],
select,
textarea {
    @extend %reset-fields-look;
    @extend %style-placeholder;
    height: 50px;
    background: #fff;
    width: 100%;
    padding: 0 20px;
    font: normal 1rem 'Roboto';
    color: rgba(0, 0, 0, 0.8);
    @extend %box-sizing;
}

textarea{
    padding:20px;
    height:200px;
}