.form-section{
    background:$secondary-color;

    .form-container{
        overflow:hidden;
        margin:0 -10px;
        width:100%;
    }

    .form-btns{
        text-align:center;

        .btn{
            display:inline-block;
        }
    }
}