.home-explore{
    height:100vh;

    a{
        &,&:visited{
        display:block;
        width:50%;
        height:50vh;
        float:left;
        line-height:50vh;
        color:#fff;
        text-align:center;
        font: bold (38rem / strip-unit($body-font-size)) 'Poppins';
        @extend %background-size-cover;
        text-decoration: none;
        position:relative;
        text-transform: uppercase;
        }

        &:before{
            content: '';
            display:block;
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:#000;
            opacity:0.1;
            z-index:10;
            @include transition(all 0.5s);
        }

        &:hover{
            &:before{
                opacity:0.3;
            }
        }

        span{
            display:block;
            line-height:50vh;
            position:relative;
            z-index:20;
        }
    }
}