@import 'reset';
@import 'functions';
@import 'variables';
@import 'typography';
@import 'icons';
@import 'mixins';
@import 'placeholders';

html,body{
    min-height:100vh;
}
body{
    font:normal 14px 'Roboto';
    background: #000;
    overflow-x:hidden;

    main{
        min-height:calc(100vh - #{$header-height});
    }
}

.container{
    width:1200px;
    margin:0 auto;
    position:relative;
}

h2{
    font:900 $h2-font-size 'Poppins';
    text-transform: uppercase;
}