/*General*/
%vertical-align {
    display: inline-block;
    vertical-align: middle;
}

%box-sizing{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

%pseudo-vertical-align{
    &:before{
        content: '';
        width:0;
        height:100%;
        @extend %vertical-align;
    }
}

/*Social media*/
%instagram-background {
    background: rgba(253, 244, 151, 1);
    background: -moz-linear-gradient(45deg, rgba(253, 244, 151, 1) 0%, rgba(253, 244, 151, 1) 5%, rgba(253, 88, 73, 1) 45%, rgba(214, 36, 158, 1) 60%, rgba(40, 88, 235, 1) 90%, rgba(40, 88, 235, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(253, 244, 151, 1)), color-stop(5%, rgba(253, 244, 151, 1)), color-stop(45%, rgba(253, 88, 73, 1)), color-stop(60%, rgba(214, 36, 158, 1)), color-stop(90%, rgba(40, 88, 235, 1)), color-stop(100%, rgba(40, 88, 235, 1)));
    background: -webkit-linear-gradient(45deg, rgba(253, 244, 151, 1) 0%, rgba(253, 244, 151, 1) 5%, rgba(253, 88, 73, 1) 45%, rgba(214, 36, 158, 1) 60%, rgba(40, 88, 235, 1) 90%, rgba(40, 88, 235, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(253, 244, 151, 1) 0%, rgba(253, 244, 151, 1) 5%, rgba(253, 88, 73, 1) 45%, rgba(214, 36, 158, 1) 60%, rgba(40, 88, 235, 1) 90%, rgba(40, 88, 235, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(253, 244, 151, 1) 0%, rgba(253, 244, 151, 1) 5%, rgba(253, 88, 73, 1) 45%, rgba(214, 36, 158, 1) 60%, rgba(40, 88, 235, 1) 90%, rgba(40, 88, 235, 1) 100%);
    background: linear-gradient(45deg, rgba(253, 244, 151, 1) 0%, rgba(253, 244, 151, 1) 5%, rgba(253, 88, 73, 1) 45%, rgba(214, 36, 158, 1) 60%, rgba(40, 88, 235, 1) 90%, rgba(40, 88, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf497', endColorstr='#2858eb', GradientType=1);
}

%social-icon {

    &,
    &:visited {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 100%;
        position: relative;
    }

    &:before {
        position: relative;
        z-index: 10;
    }

    &.dark {
        background: $primary-color;
        color: #fff;
    }

    &.light {
        background: #fff;
        color: $primary-color;

        &:hover {
            color: #fff;
        }
    }

    &.icon-facebook:hover {
        background: $facebook-color;
    }

    &.icon-twitter:hover {
        background: $twitter-color;
    }

    &.icon-instagram:hover {
        background: 0;
    }

    &.icon-instagram:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        border-radius: 100%;
        z-index: 0;
        @extend %instagram-background;
        @include transition(all 0.3s);
    }

    &.icon-instagram:hover:after {
        opacity: 1;
    }
}