/*Colors*/
$primary-color:#012349;
$secondary-color:#f6aa00;
$light-bg-text-color:#012349;
$dark-bg-text-color:#ffffff;
$facebook-color:#4267b2;
$twitter-color:#38A1F3;

/*Font sizes*/
$body-font-size:14px;
$h1-font-size:60rem / strip-unit($body-font-size);
$h2-font-size:40rem / strip-unit($body-font-size);
$h3-font-size:18rem / strip-unit($body-font-size);

/*Line height*/
$p-line-height:1.2rem;

/*Heights*/
$header-height:75px;
$video-button-width:70px;

/*Margins and padding*/
$banner-title-margin:20px;
$section-padding:50px;
$title-margin:50px;