.details-cruise-itinerary {
    background: $secondary-color;

    .cruise-itinerary-container {
        margin: 0 -20px;
        position: relative;

        .slick-track {
            display: flex;
        }

        .cruise-itinerary-item {
            padding: 0 10px;
            height: auto;
            flex: 0 0 auto;
            @extend %box-sizing;

            .cruise-itinerary-info {
                padding: 50px 20px;
                border: 3px solid $primary-color;
                text-align: center;
                height:100%;
                color: $primary-color;
                @extend %box-sizing;

                .sailing-date,
                .itinerary-details-btn {
                    width: 100%;
                }

                .itinerary-details-btn {
                    font-weight: bold;
                }

                span {
                    display: block;

                    &.nights {
                        font:900 #{72rem / strip-unit($body-font-size)}/1em $secondary-font;
                    }

                    &.label {
                        font:900 #{24rem / strip-unit($body-font-size)}/1em $primary-font;
                        padding: 20px 30px;
                        border-bottom: 3px solid $primary-color;
                        display: inline-block;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                        @extend %box-sizing;
                    }

                    &.date {
                        font:Normal #{14rem / strip-unit($body-font-size)}/1.2em $secondary-font;
                        margin-bottom: 10px;
                    }

                    &.sailing-date {
                        font:900 #{14rem / strip-unit($body-font-size)}/1.2em $secondary-font;
                        display: inline-block;
                        color: $primary-color;
                        background: #efefef;
                        padding: 7px 10px;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        @extend %box-sizing;
                    }
                }
            }
        }

        .cruise-itinerary-nav {
            position: static;
            display: block;

            a {
                background: $primary-color !important;
                border: 2px solid $primary-color;
                margin-top: 20px;

                &:hover {
                    background: transparent !important;
                    color: $primary-color !important;
                }
            }
        }
    }
}