.details-gallery {
    margin-top: $section-padding;
}

.gallery-container {
    position: relative;

    .gallery-carousel {
        .gallery-item {
            height: 550px;
        }
    }

    .gallery-related-carousel {
        .gallery-item {
            height:100px;
            overflow: hidden;
            position: relative;
            cursor:pointer;
            @include transition;

            &:before {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                background: #000;
                opacity: 0.5;
                z-index: 10;
                @include transition;
            }

            &.slick-current:before,
            &:hover:before {
                opacity: 0;
            }
        }
    }

    .gallery-nav {
        position: static;
        display: block;

        a {
            position: absolute;
            display: block;
            top: 50%;

            &.nav-prev {
                left: 0;
                @include transform(translateY(calc(-50% - 50px)) rotate(180deg));
            }

            &.nav-next {
                right: 0;
                @include transform(translateY(calc(-50% - 50px)));
            }
        }
    }
}