.details-tabs-section {
    position: relative;

    .details-tabs {
        position: absolute;
        left: 0;
        right: 0;
        @include transform(translateY(-100%));
        //@include transition;

        &.menu-fixed{
            position:fixed;
            z-index:100;
            background:$primary-color;
            border-bottom:1px solid #fff;
            @include transform(none);
        }

        ul {
            overflow: hidden;
            margin: 0 -10px;
        }

        li {
            float: left;
        }

        a {
            font: normal 1.142rem/1em $primary-font;
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 15px;
            @include transition;

            &,
            &:visited {
                color: #fff;
            }

            &:hover,
            &.active {
                background: $secondary-color;
            }

        }
    }
}